<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}어린이가 위험해요!{% endblock %}</title>
    {% load static %}
    {% load tz %}

    {% block extra_headers %}
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
    <!-- Django에서만 작동 -->
    <link rel="icon" href="{% static 'media/webLogo.png' %}">
    <link rel="apple-touch-icon" href="{% static 'media/webLogo.png' %}">
    <!-- live server에서만 작동 -->
    <link rel="icon" href="../media/webLogo.png">
    <link rel="apple-touch-icon" href="../media/webLogo.png">
    <!-- Django에서만 작동 -->
    <link rel="stylesheet" href="{% static 'css/teachers_style.css' %}">
    <!-- live server에서만 작동 -->
    <link rel="stylesheet" href="../static/css/teachers_style.css">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>
<body>
    {% block asd %}
    {% endblock %}
    <!-- 메인 영역 -->
    <main class="main-container">
        <header class="site-header">
            <div class="logo-area">
                <a href=".">    <!-- 이미지 누르면 새로고침 되는.. -->
                    <img src="{{ MEDIA_URL }}webLogo.png" alt="로고" class="logo-img"></a>
                <h1 style="font-size: 32px; padding-left: 15px;">
                    {% if teachers.classroom == "lion" %}사자반🦁
                    {% elif teachers.classroom == "tiger" %}호랑이반🐯
                    {% else %}곰반🐻
                    {% endif %}
                    {{ teachers.name }}
                    선생님, 반갑습니다!</h1>
            </div>
            <nav class="header-nav">
                <ul>
                    <li><a href="{% url 'logout' %}">로그아웃</a></li>
                    <li>
                        <a style="color: rgb(116, 116, 116);" href="#" onclick="if(confirm('정말 탈퇴하시겠습니까?')) { document.getElementById('withdrawalForm').submit(); } return false;">
                        회원탈퇴
                        </a>
                    </li>

                    <form id="withdrawalForm" method="POST" action="{% url 'withdrawalUser' teachers.name %}" style="display:none;">
                        {% csrf_token %}
                    </form>
                </ul>
            </nav>
        </header>
        <section class="homework-container" id="homeworkContainer">
            <div class="homework-box">
                <div class="homework-list-box" id="tableArea">
                    {% if teachers.children|length == 0 %}
                    <p style="text-align: center; padding: 20px; font-size: 18px;">아직 해당 반 소속 아이가 없습니다.</p><br>

                    {% else %}
                    <table>
                        <thead>
                            <tr>
                                <th>이름</th>
                                <th>나이</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for child in teachers.children %}
                            <tr>
                                <td>{{ child.name }}</td>
                                <td>{{ child.age }}</td>
                                <td><button class="list-comment-btn" onclick="javascript:openForm('{{ child.name }}', '{{ child.id }}')">알림장</button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
                <!-- 오른쪽 폼(개인 알림장) -->
                <div class="form-box" id="formArea">
                    <div class="form-content">
                        {% comment %} <button class="x-btn" onclick="closeForm()">X</button> {% endcomment %}
                        <h3 style="padding: 15px; padding-top: 25px;">알림장 버튼을 먼저 눌러주세요</h3>
                        <form id="writeNotice" method="POST" data-url="{% url 'writeNotice' teachers.id teachers.classroom %}">
                            {% csrf_token %}
                            <textarea id="noticeContent" name="content" placeholder="전달할 내용:&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;&#13;&#10;*준비물:"></textarea>
                            <button type="submit" id="writeNotice" class="save-btn">저장</button><br>
                            <button class="delete-btn" onclick="javascript:clearForm()">전체 내용 삭제</button> <!-- 이건 그냥 textarea 내용만 지우는 거임 -->
                        </form>
                    </div>
                </div>

                <!-- 오른쪽 폼(알림장 로그들) -->
                {% comment %} <div class="form-box" id="formAreaLog">
                    <div class="form-content">
                        <button class="x-btn" onclick="closeForm()">X</button>
                        <h3 style="padding: 15px; padding-top: 25px;">알림장 로그</h3>
                        <!-- 여기에 JS로 로그 내용 추가됨 -->
                    </div>
                </div> {% endcomment %}
            </div>
        </section>
        <section class="result-container" id="resultContainer">
            <div class="result-box">
                <canvas id="doughnut-chart" width="700" height="450"></canvas>
            </div>
        </section>
    </main>
    <!-- Django에서만 작동 -->
    <script src="{% static 'js/teachers_page.js' %}"></script>
    <!-- live server에서만 작동 -->
    <script src="../static/js/teachers_page.js"></script>
</body>
</html>