<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>임시 결과 값 넣기 페이지</title>
    </head>
    <body>
        {% block asd %}
        {% endblock %}
        <div>
            <form method="POST" action="{% url 'input_results' %}">
                {% csrf_token %}
                <label for="child_id">아동 ID: </label>
                <input type="text" id="child_id" name="child_id"><br>
                <label for="event_type">감지된 행동: </label><br>
                <input type="radio" id="standing" name="action" value="standing"><label for="standing">standing</label>
                <input type="radio" id="walking" name="action" value="walking"><label for="walking">walking</label>
                <input type="radio" id="running" name="action" value="running"><label for="running">running</label>
                <input type="radio" id="sitting" name="action" value="sitting"><label for="sitting">sitting</label><br>
                <input type="radio" id="playing" name="action" value="playing"><label for="playing">playing</label>
                <input type="radio" id="fighting" name="action" value="fighting"><label for="fighting">fighting</label>
                <input type="radio" id="falldown" name="action" value="falldown"><label for="falldown">falldown</label>
                
                <br>
                <label for="confidence">인식 신뢰도: </label>
                <input type="range" min="0" max="100" id="confidence" name="confidence"><br>
                <label for="timestamp">감지 시간: </label>
                <input type="datetime-local" step="1" id="timestamp" name="timestamp"><br><br>
                <input type="submit" value="저장">
                {% if success %}
                    <p style="color:green;">데이터가 저장되었습니다.</p>
                {% endif %}
            </form>
        </div>
    </body>
</html>